<h1>Jack and Jill went up the hill to get a bucket of water... for Luke</h1>
<h2>(Using Rails 3.2.8 and No Database)</h2>
The bucket they got was:<br/>
Size: <%=rand(10)%><br/>
Weight: <%=rand(1000)%><br/>
Full?: <%=rand(1000) > 500%><br/>
<br/>
Who knows how many buckets they have collected? (no database!)<br/>